#### 1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [1]:
test1 = 'This is a test of the emergency text system,'
print(test1)
with open('test.txt','w') as file:
    file.write(test1)
    file.close()

This is a test of the emergency text system,

In [2]:
# read the contents of test.txt
! type test.txt

This is a test of the emergency text system,

#### 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [3]:
with open('test.txt','r') as file:
    test2 = file.read()
    file.close()
    
print(test2)   
print(test1 == test2)

This is a test of the emergency text system,
True

#### 3. Create a CSV file called books.csv by using these lines:
`title,author,year`  
`The Weirdstone of Brisingamen,Alan Garner,1960`  
`Perdido Street Station,China Miéville,2000`  
`Thud!,Terry Pratchett,2005`  
`The Spellman Files,Lisa Lutz,2007`  
`Small Gods,Terry Pratchett,1992`

In [5]:
csv_content = '''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992'''

with open('books.csv', 'w') as file:
    file.write(csv_content)

#### 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [6]:
import sqlite3

connection = sqlite3.connect('books.db')
cursor = connection.cursor()

cursor.execute('''
    CREATE TABLE books (
        title TEXT,
        author TEXT,
        year INTEGER)
''')

connection.commit()
connection.close()

#### 5. Read books.csv and insert its data into the books table.

In [7]:
import csv
import sqlite3

with open('books.csv', 'r') as file:
    csv_reader = csv.reader(file)
    next(csv_reader)  # Skip the header row
    books_data = [row for row in csv_reader]

connection = sqlite3.connect('books.db')
cursor = connection.cursor()

cursor.executemany('INSERT INTO books VALUES (?, ?, ?)', books_data)

connection.commit()
connection.close()

#### 6. Select and print the title column from the books table in alphabetical order.

In [8]:
import sqlite3

connection = sqlite3.connect('books.db')
cursor = connection.cursor()

cursor.execute('SELECT title FROM books ORDER BY title')

titles = cursor.fetchall()
for title in titles:
    print(title[0])

connection.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

#### 7. From the books table, select and print all columns in the order of publication.

In [9]:
import sqlite3

connection = sqlite3.connect('books.db')
cursor = connection.cursor()

cursor.execute('SELECT * FROM books ORDER BY year')

books = cursor.fetchall()
for book in books:
    print(book)

connection.close()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

#### 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [10]:
from sqlalchemy import create_engine

engine = create_engine('sqlite:///books.db')
engine

Engine(sqlite:///books.db)

#### 9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [11]:
! python -m pip install redis

Collecting redis
  Downloading redis-4.5.5-py3-none-any.whl (240 kB)
     ---------------------------------------- 0.0/240.3 kB ? eta -:--:--
     -------------------------------------- 240.3/240.3 kB 7.4 MB/s eta 0:00:00
Requirement already satisfied: async-timeout>=4.0.2 in c:\users\kbarv\anaconda3\lib\site-packages (from redis) (4.0.2)
Installing collected packages: redis
Successfully installed redis-4.5.5

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import redis

r = redis.Redis()
r.hset('test', 'count', 1)
r.hset('test', 'name', 'Fester Bestertester')

fields = r.hgetall('test')
for field, value in fields.items():
    print(f'{field.decode()}: {value.decode()}')

count: 1
name: Fester Bestertester

#### 10. Increment the count field of test and print it.

In [4]:
count = r.hincrby('test', 'count')
print(count)

3